h1{
	text-align: center;
}
#imgnt{
	margin: 0 auto;
	width: 15%;
}
.fecha{
	font-size: 12px;
	font-style: italic;
	padding:1em;
}
.flxnot{
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
	.flxnot article{
		width: 80%;
	}
@media screen and (max-width: 800px){
	#imgnt,.flxnot article,#imgnt{
		margin: 1em auto;
		width: 90%;
	}
	.flxnot{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}