h1,h2{
	text-align: center;
}
input[type=number]{
	margin: 0 auto;
	width: 90%;
}
table{
	margin: 1em auto;
	text-align: center;
}
	table td{padding: 0.25em;}
#disbyn{
	background: #254D81;
	color: #fff;
	padding: 0.5em 0;
	text-decoration: none;
}
#disbyn:hover,#disbyn:active{
	background: #122545;
}
#mnB{
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
	#mnB a{
		background: #122545;
		color: #D1CFD0;
		padding: 0 0.5em;
		text-decoration: none;
	}
	#mnB a:hover,#mnB a:active{
		background: #254D81;
	}
#resulNombres{
	display: none;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}
	#resulNombres a{
		background: #EAEAEA;
		border-bottom: 1px solid #002458;
		color: #000;
		padding: 0.5em 0;
		text-decoration: none;
	}
		#resulNombres a:hover{
			background: #E1E1E1;
		}
.cjaing{
	height: 0;
	overflow: hidden;
}
.dell{
	background: #EBEBEB;
	color: #9198A2;
	text-decoration: none;
}
.dell:hover,.dell:active{
	background: #254D81;
	color: #fff;
}
.filflx{
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.flA{
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
.flxB,.flxC{
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	padding: 1em 0;
}
	.flxB figure{
		margin-bottom: 1em;
		width: 30%;
	}
	.flxC figure{
		margin-bottom: 1em;
		width: 15%;
	}
.htilf{
	-webkit-word-break: wrap;
	-ms-word-break: wrap;
	-moz-word-break: wrap;
	word-break: wrap;
	width: 25%;
}
@media screen and (max-width: 800px){
	#mnB{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}
		#mnB a{
			padding: 0.5em 0;
		}
	.flA,.flxB,.flxCm,.filflx{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		.flA article,.flxB figure,.flxC figure,.htilf{
			margin: 1em auto;
			width: 90%;
		}
}